{% extends 'main/base.html' %}

{% block title %}{{profile.user.username}}{% endblock %}

{% block content %}
<div class="features">
    <h1>{{profile.user.username}}</h1><br>
    {% if profile.user == request.user %}
        <form action="{% url 'edit-profile' %}" method="post">
            {% csrf_token %}
            <button type="submit">Редактировать</button>
        </form>
        <br>
    {% endif %}
    <ul>
        <li>{{profile.user.first_name}} {{profile.user.last_name}}</li>
        <li>{{profile.gender}}</li>
        <li>{{profile.city}}</li>
    </ul>
    <h3>Увлечения</h3>
    <ul class="list-group">
    {% for hobby in profile.hobbies.all %}
        <li class="list-group-item">
            <h4>{{hobby.name}}</h4>
            <p>{{hobby.description}}</p>
            {% if hobby not in my_hobbies %}
                <form action="{% url 'add_hobby' hobby.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Добавить</button>
                </form>
            {% else %}
                <form action="{% url 'remove_hobby' hobby.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Убрать</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}